:root { --primary-bg-color : rgb(13, 2, 8);
    --primary-color : rgb(0, 255, 65);
    --shadow-color : rgb(0, 143, 17);



}

body { background-color: var(--primary-bg-color) ;

    color: var(--primary-color);

}



.custom-shadow {

    box-shadow: 2px 2px 5px var(--shadow-color);

}


.btn-custom{ 
    height: 100px;
    width: 200px;
    color: var(--primary-color);
    background-color: transparent;
    border: 2px solid var(--primary-color);
 display: block;
margin: auto; 
}


.btn-custom:hover {


    background-color: var(--primary-color);
    color: var(--primary-bg-color)
}

p{ margin: 0;
padding: 0;
}

.card-custom{

    box-shadow: 2px 2px 5px var(--shadow-color),  -2px -2px 5px var(--shadow-color);
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
justify-content: space-around;
margin-top: 10px;

}


.icon{ 
    cursor: pointer;
}